{% import "./macros.html" as macros %}
{% extends "layout.html" %}

{% block article_body %}

{% markdown %}

Since ascending to power more than five years ago, Kim Jong Un has dramatically increased the speed and scope of North Korea’s nuclear and ballistic missile development.

In 2016, his regime triggered international condemnation by testing two nuclear devices and more than 20 ballistic missiles. The sabre-rattling has continued in 2017, with Pyongyang increasing the pace of ballistic missile tests and unveiling new, advanced rockets.

For the international community, particularly the US, there is growing concern that Mr Kim will soon master the technology to equip an intercontinental ballistic missile (ICBM) with a nuclear warhead - a development that could potentially imperil large swaths of the American mainland.

{% endmarkdown %}

<!-- {# START MID AD SLOT
    You can move this wherever it works best in your page's design.
    For more control over the size, write your own o-ads div - see
    https://financial-times.github.io/o-ads/docs/developer-guide/display #}
{% if ads %}{{ macros.middleAd() }}{% endif %}
{# END MID AD SLOT #} -->

{% include "graphics/timeline.html" %}

{% markdown %}
For the North Korean state - a harsh, totalitarian regime focused predominantly on its own survival - the tests represent a core part of its Byungjin policy, which calls for the development of nuclear weapons alongside the nation’s economy. For Mr Kim, the policy aims to insulate his regime from outside threats - by raising the cost of conflict - as well as domestic unrest. 
{% endmarkdown %}

{% include "graphics/short-range.html" %}

{% markdown %}
While many missile tests, particularly the short-range launches, can be viewed as military chest-thumping, it is clear that North Korea’s technical capabilities are rapidly developing.
{% endmarkdown %}

{% include "graphics/long-range.html" %}

{% markdown %}
In May, North Korea tested the Hwasong 12 - a new rocket it claimed was capable of carrying ““large-size heavy nuclear warhead” as far as the US.

The claims should be treated with caution, and North Korea itself created strategic ambiguity by launching the rocket at an almost vertical trajectory. The missile hit an altitude of more than 2,000km and flew about 700km. If launched at a lower trajectory, analysts believe it would have been able to fly 4,500km, reaching US bases in Japan, Guam and potentially Hawaii. 

<!-- <figure class="graphic graphic-b-1 graphic-pad-1">
  <img alt="" src="https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fcom.ft.imagepublish.prod.s3.amazonaws.com%2Fc4bf0be4-7c15-11e4-a7b8-00144feabdc0?source=ig&fit=scale-down&width=700"></img>
    <figcaption class="o-typography-caption">
    <a class="o-typography-link" href="#void">&#xA9;Credit person</a> George Orwell at his typewriter
  </figcaption>
</figure> -->

“The engine used on the HS-12 might not have quite enough thrust for an ICBM, but it was likely designed to demonstrate key technologies and components for a new ICBM engine,” according to John Schilling, an aerospace engineer and North Korea missile expert. “It won’t take long to modify this design for ICBM use, if that is North Korea’s goal.”

In its arsenal, North Korea also maintains the Taepodong-2, a long-range rocket capable of hitting the US. However, it has thus far only been used to launch satellites into orbit and there is no consensus on whether it is capable of delivering a nuclear device or significant payload. The military is also believed to be developing two long-range missiles - the KN-08 and KN-14 - but despite their appearance in military parades, the rockets have not been tested.

<!-- <figure class="graphic graphic-b-1 graphic-pad-1">
  <img alt="" src="https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fcom.ft.imagepublish.prod.s3.amazonaws.com%2Fc4bf0be4-7c15-11e4-a7b8-00144feabdc0?source=ig&fit=scale-down&width=700"></img>
    <figcaption class="o-typography-caption">
    <a class="o-typography-link" href="#void">&#xA9;Credit person</a> George Orwell at his typewriter
  </figcaption>
</figure> -->

Another significant development for the country’s missile programme is the medium-range KN-15, which was successfully test-fired for the first time early in 2017. Despite a limited range of about 2,000km, the missile employs a solid-fuel engine, meaning it can be launched with little warning.

These missiles can be fired quickly and require fewer support vehicles, according to Jeffrey Lewis of the James Martin Center for Non-Proliferation Studies.
{% endmarkdown %}

{% include "graphics/map-ranges.html" %}

{% markdown %}
The development of North Korea’s nuclear programme is another long-standing concern. In 2016, the country found itself further ostracised from the international community after detonating two devices, in January and September. 

Pyongyang boasted the first test utilised a hydrogen bomb, although experts poured doubt on the claim. It was estimated to have a yield of between 7 and 10 kilotons of TNT. The second test was significantly bigger with an estimated yield of between 10 and 30 kilotons. By comparison, the US nuclear attack on HIroshima in 1945 exploded with an energy of 15 kilotons, killing up to 150,000 people.

“North Korea is very close to developing the technology needed to miniaturise nuclear warheads,” the defence ministry in Seoul said recently. 

During a new year’s address at the beginning of 2017, Kim Jong Un announced North Korea was in the final stages of preparation to launch a long-range ballistic missile. North Korean officials have gone even further, declaring the country could launch one “at any time, at any place.”

While the development is occurring rapidly, many experts believe it will take another three or four years before North Korea can successfully deploy a long-range missile. Then there remains the problem of equipping it with a nuclear device.

“While the success of the Hwasong-12 may advance the North Korean ICBM program by perhaps a year, deployment of an operational ICBM prior to 2020 is still unlikely,” said Mr Schilling.
{% endmarkdown %}
{% endblock %}
