{% import "./macros.html" as macros %}
{% extends "layout.html" %}

{% block article_body %}

{% markdown %}
{{data.intro}}

{{data.impact}}
{% endmarkdown %}

<div class="o-grid-container">
  <div class="o-grid-row">
    <div data-o-grid-colspan="12" class="rotating-globes">
      <div class="o-typography-lead">Estimated ranges of North Korea’s two most powerful missiles</div>
      <!-- <div data-o-grid-colspan="12" class="globes-legend">
        <div data-o-grid-colspan="S6 M6 L3 XL3" class="legend-item">
          <div class="square darkred"></div>Lower limit
        </div>
        <div data-o-grid-colspan="S6 M6 L3 XL3" class="legend-item">
          <div class="square lightred"></div>Upper limit
        </div>
      </div> -->
      <div class="rotating-globes__drag-overlay"></div>
      <!-- <div class="o-typography-lead--small">Estimated minimum and maximum reach in km</div> -->
      <div data-o-grid-colspan="S12 M12 L6 XL6" id='hwasong-12' class='globe-div'></div>
      <div data-o-grid-colspan="S12 M12 L6 XL6" id='hwasong-14' class='globe-div'></div>
      <div class="restyled-source">Sources: CSIS; FT research</div>
    </div>
  </div>
</div>

{% markdown %}
{{data.policy}}

{{data.shortrange}}
{% endmarkdown %}

{#{% include "graphics/timeline.html" %}#}

<!-- {# START MID AD SLOT
    You can move this wherever it works best in your page's design.
    For more control over the size, write your own o-ads div - see
    https://financial-times.github.io/o-ads/docs/developer-guide/display #}
{% if ads %}{{ macros.middleAd() }}{% endif %}
{# END MID AD SLOT #} -->

<figure class="responsive-graphic__timeline">
  <img class="responsive-graphic__timeline--l" src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fft-ig-images-prod.s3-website-eu-west-1.amazonaws.com%2Fv1%2F8488078125-27jfx.png?source=ig" />
  <img class="responsive-graphic__timeline--s" src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fft-ig-images-prod.s3-website-eu-west-1.amazonaws.com%2Fv1%2F8488078127-42pln.png?source=ig" />
</figure>

{% markdown %}
{{data.hwasong}}
{% endmarkdown %}

{# {% include "graphics/short-range.html" %} #}

{% markdown %}
{{data.taepodong}}
{% endmarkdown %}

{#{% include "graphics/long-range.html" %}#}

<figure class="responsive-graphic__long-range">
  <img class="responsive-graphic__long-range--l" src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fft-ig-images-prod.s3-website-eu-west-1.amazonaws.com%2Fv1%2F8497705938-zhmaw.png?source=ig-images" />
  <img class="responsive-graphic__long-range--s" src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fft-ig-images-prod.s3-website-eu-west-1.amazonaws.com%2Fv1%2F8497705938-99tlb.png?source=ig-images" />
</figure>

{% markdown %}

<!-- <figure class="graphic graphic-b-1 graphic-pad-1">
  <img alt="" src="https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fcom.ft.imagepublish.prod.s3.amazonaws.com%2Fc4bf0be4-7c15-11e4-a7b8-00144feabdc0?source=ig&fit=scale-down&width=700"></img>
    <figcaption class="o-typography-caption">
    <a class="o-typography-link" href="#void">&#xA9;Credit person</a> George Orwell at his typewriter
  </figcaption>
</figure> -->

{{data.kn15}}
{% endmarkdown %}

{#{% include "graphics/map-ranges.html" %}#}

<figure class="responsive-graphic__map-ranges">
  <img class="responsive-graphic__map-ranges--l" src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fft-ig-images-prod.s3-website-eu-west-1.amazonaws.com%2Fv1%2F8497705936-88g3s.png?source=ig-images" />
  <img class="responsive-graphic__map-ranges--s" src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fft-ig-images-prod.s3-website-eu-west-1.amazonaws.com%2Fv1%2F8497705935-24qk3.png?source=ig-images" />
</figure>

{% markdown %}
{{data.nuclear}}
{% endmarkdown %}

{% include "graphics/nuclear-tests.html" %}

{% markdown %}
{{data.nuclearend}}
{% endmarkdown %}

{% endblock %}
