@import 'o-colors/main';
@import 'o-grid/main';
@import 'components/core/main';

.land {
  stroke: #ffffff;
  stroke-width: 0.5px;
  cursor: pointer;
}
.missile-range {
	fill: #ef987e;
	mix-blend-mode: multiply;
	cursor: pointer;
}
.point {
	fill: black;
	stroke: black;
}
.missile-name-text {
	font-size: 21px;
	font-weight: 700;
	fill: #6b6e68;
}
#globe-div {
	display: block;
}
.label {
	fill: black;
	cursor: pointer;
}
.sphere {
	cursor: pointer;
}