@import 'o-colors/main';
@import 'o-grid/main';
@import 'components/core/main';

.land {
  stroke: #9f9d88;
  stroke-width: 0.7px;
  cursor: pointer;
}
.missile-range {
	cursor: pointer;
}
.point {
	fill: black;
	stroke: black;
}
.city-labels {
	fill: #6b6e68;
}
.missile-name-text {
	font-size: 20px;
	font-weight: 400;
	fill: #6b6e68;
}
