@import 'o-colors/main';
@import 'o-grid/main';
@import 'components/core/main';

.land {
  stroke: #ffffff;
  stroke-width: 0.5px;
  cursor: move;
}
.missile-range {
	fill: #ea3c13;
	opacity: 0.5;
	cursor: move;
}
.point {
	fill: black;
	stroke: black;
}
.missile-name-text {
	font-size: 21px;
	font-weight: 700;
	fill: #6b6e68;
}
.subhed-text{
	fill: #6b6e68;
}
.globe-svg {
	display: block;
	margin: 0 auto;
}
.label {
	fill: black;
	cursor: move;
}
.rotating-globes__drag-overlay {
	cursor: move;
}


.rotating-globes {
  position: relative;

  &__drag-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: auto;
     @include oGridRespondTo($until: S) {
      pointer-events: none;
    }
  }

  user-select: none;

}


.globes-legend {
  margin-top:10px;
  margin-bottom:10px;
}

.legend-item {
  display: flex;
  align-items:center;
}

.legend-item .square {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 8px;
  text-align: center;
}

.lightred {
  background-color: #ea3c13;
  opacity: 0.5;
}

.darkred {
  background-color: #ea3c13;
  opacity: 0.8;
}

#g-nokorea-nuclear-timeline-Artboard_2 #g-ai1-2 p.g-aiPstyle0 {
  white-space: nowrap;
}
